{% extends 'layout.html.twig' %}
{% block content %}

    <div class="app-title">
        <div>
            <h1><i class="fa fa-users"></i>&nbsp;Ajout Employé</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path("main_homepage") }}"><i class="fa fa-home fa-lg"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path("main_users") }}">Employés</a>
            </li>
            <li class="breadcrumb-item"> Ajout d'un employé</li>
        </ul>
    </div>
    <div class="tile">
        {% for message in app.flashes('succes') %}
            <div class="alert alert-success" role="alert">
                <button class="close" type="button" data-dismiss="alert">×</button>
                <strong>{{ message }}</strong>

            </div>
        {% endfor %}
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form.firstName) }}
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': form.firstName.vars.label}}) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.name) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': form.name.vars.label}}) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.cost) }}
            {{ form_label(form.cost) }}
            {{ form_widget(form.cost, {'attr': {'class': 'form-control', 'placeholder': form.cost.vars.label}}) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.job) }}
            {{ form_label(form.job) }}
            {{ form_widget(form.job, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.email) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': form.email.vars.label}}) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.password.first) }}
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': form.password.first.vars.label}}) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.password.second) }}
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': form.password.second .vars.label}}) }}
        </div>
        {#<div class="form-group">#}
            {#{{ form_errors(form.roles) }}#}
            {#{{ form_label(form.roles) }}#}
            {#{{ form_widget(form.roles, {'attr': {'class': 'form-control', 'placeholder': form.roles.vars.label}}) }}#}
        {#</div>#}
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a></button>
        {{ form_end(form) }}

    </div>
{% endblock %}

